@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    margin: 0;

    display: flex;
    flex-direction: column;
}

header.navbar-container {
    max-width: 1200px;          /* membuat elemen memiliki lebar 1200px */
    width: 100%;          /* membuat lebar dimaksimalkan 100% */
    margin-inline: auto;          /* membuat elemen berada di tengah jika lebar layar lebih dari 1200px */
    display: flex;          /* membuat elemen menjadi flexbox */
    justify-content: space-around;          /* membuat objek berpencar */
    align-items: center;          /* membuat objek berada di tengah secara vertical */

    padding-block: 1rem;          /* membuat padding secara vertikal sebanyak 1rem */
    z-index: 999;          /* membuat elemen berada di depan sebanyak 999 */
}

header.navbar-container .logo img {
    width: 150px;          /* menambahkan ukuran logo gambar menjadi 150px */
}

header.navbar-container .nav-list ul {
    padding-left: 0;          /* menghilangkan padding di sebelah kiri elemen */
    display: flex;          /* membuat elemen menajdi flexbox */
    justify-content: center;          /* membuat objek berada di tengah secara horizontal */
    gap: 2rem 1rem;          /* membuat celah antara item pada flexbox container */
}

header.navbar-container .nav-list li{
    list-style-type: none; /* membuat list menjadi tanpa styling bullet */
}

header.navbar-container .nav-list li a{
    text-decoration: none; /* menghilangkan text decoration garis bawah dan warna biru */
    font-size: 1.05rem; /* membuat font size menjadi 16px * 1.05rem */
    font-weight: 500; /* membuat font weight menjadi lebih besar sedikit dari normal */
    color: black; /* membuat warna font menjadi hitam */
    padding: 0.5rem 1.5rem; /* membuat padding pada setiap elemen .nav-list>li>a */
    border-radius: 999px; /* membuat radius pada elemen nav-list>li>a secara tak terlihat karena belum menentukan warna */
}