@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    margin: 0;

    display: flex;
    flex-direction: column;
}

header.navbar-container {
    max-width: 1200px;          /* membuat elemen memiliki lebar 1200px */
    width: 100%;          /* membuat lebar dimaksimalkan 100% */
    margin-inline: auto;          /* membuat elemen berada di tengah jika lebar layar lebih dari 1200px */
    display: flex;          /* membuat elemen menjadi flexbox */
    justify-content: space-around;          /* membuat objek berpencar */
    align-items: center;          /* membuat objek berada di tengah secara vertical */

    padding-block: 1rem;          /* membuat padding secara vertikal sebanyak 1rem */
    z-index: 999;          /* membuat elemen berada di depan sebanyak 999 */
}

header.navbar-container .logo img {
    width: 150px;          /* menambahkan ukuran logo gambar menjadi 150px */
}

header.navbar-container .nav-list ul {
    padding-left: 0;          /* menghilangkan padding di sebelah kiri elemen */
    display: flex;          /* membuat elemen menajdi flexbox */
    justify-content: center;          /* membuat objek berada di tengah secara horizontal */
    gap: 2rem 1rem;          /* membuat celah antara item pada flexbox container */
}

header.navbar-container .nav-list li{
    list-style-type: none; /* membuat list menjadi tanpa styling bullet */
}

header.navbar-container .nav-list li a{
    text-decoration: none; /* menghilangkan text decoration garis bawah dan warna biru */
    font-size: 1.05rem; /* membuat font size menjadi 16px * 1.05rem */
    font-weight: 500; /* membuat font weight menjadi lebih besar sedikit dari normal */
    color: black; /* membuat warna font menjadi hitam */
    padding: 0.5rem 1.5rem; /* membuat padding pada setiap elemen .nav-list>li>a */
    border-radius: 999px; /* membuat radius pada elemen nav-list>li>a secara tak terlihat karena belum menentukan warna */
    transition: all .2s ease-in-out; /* membuat transisi perpindahan berada pada 0.2 detik secara perlahan */
}

header.navbar-container .nav-list li:hover a {
    background-color: #425c77; /* membuat warna background berwarna abbu-abu */
    color: white; /* membuat font berwarna putih */
}

main {
    max-width: 1200px; /* membuat lebar konten sebanyak 1200px */
    width: 100%; /* membuat lebar sebanyak 100% dari max-width */
    margin-inline: auto; /* membuat margin berada di tengah-tengah lebar layar */
    padding: 2rem 4rem; /* membuat padding sebanyak 2 rem secara vertikal dan 4rem secara horizontal */
    flex: 1; /* mem buat elemen di dalam div menjadu lebih terak */

    display: flex; /* membuat tampilan aside bergeser ke kanan */
    align-items: center; /* membuat semua item berada di tengah flexbox terhadap cross axis */
}

main .content {
    flex: 1; /* membuat tampilan flex-grow: 1, flex-shrink: 1, = 1 ukuran window */
    display: flex; /* membuat tampilan dengan display block */
    align-items: center; /* membuat item berada di tengah secara cross axis dari flexbox */
}

main .content .content-description {
    flex: 1 1; /* membuat tampilan flex-grow: 1, flex-shrink: 1, = 1 ukuran window */
}

main .content .content-description .title {
    font-size: 3.5rem; /* membuat font beukuran 3.5 * 16px */
    margin-block: 1rem; /*membuat margin-blok memiliki nilai 1 rem */
}

main .content .content-description p {
    line-height: 1.7rem; /* membuat tinggi dari line-height sebanyak 1.7rem */
    font-size: 1.2rem; /* membuat font berukuran 1.2 * 16px */
}

main .content .content-description button {
    padding: 0.8rem 2.5rem; /* membuat padding pada button */
    margin-block-start: 1rem; /* menambahkan kotak margin start pada button */
    text-transform: uppercase; /* membuat huruf menjadi uppercase */
    font-weight: 700; /* membuat font berukuran bold */
    font-size: 1rem; /* membuat font berukuran 1 * 16px */
    font-family: 'Quicksand', sans-serif; /* membuat font-family menjadi sans-serif */
    color: white; /* membuat warna huruf menjadi putih */
    border: 3px solid transparent; /* membuat border dengan ukuran 3px dengan warna solid transparent */
    border-radius: 999px; /* membuat border radius */
    background-color: #2d3e50; /* membuat warna background berwarna abu2 tua */
    cursor: pointer; /* membuat kursor dengan type jari */
    transition: all .15s ease-in; /* membuat transisi animasi */
}

main .content .content-description button:hover {
    border: 3px solid #2d3e50; /* membuat border dengan ukuran 3px warna solid abu2 tua */
    color: #2d3e50; /* membuat font berwarna putih */
    background-color: transparent; /* membuat warna background menjadi transparent */
}

main .content .content-image {
    flex: 1; /*  membuat tampilan flex-grow: 1, flex-shrink: 1, = 1 ukuran  window */
    display: flex; /* membuat tampilan dengan tampilan block */
}

main .content .content-image img {
    margin: auto; /* membuat margin image menjadi auto */
    min-width: 250px; /* membuat lebar minimal = 250px */
    width: 300px; /* membuat lebar gambar menjadi 300px */
}

main aside {
    position: fixed; /* membuat elemen berada diluar flow normal */
    inset-block: 0; /* membuat elemen memiliki celah antara elemen tersebut dengan elemen parent */
    inset-inline-end: 0; /* membuat elemen berada di ujung dengan nilai 0 dari ujung */
}

main aside .social-media {
    height: 100%; /* membuat tinggi elemen menjadi 100% */
    display: flex; /* membuat elemen memiliki display flexbox */
}

main aside .social-media ul {
    padding: 1.5rem 1rem; /* memebuat padding pada elemen */
    margin: auto; /* membuat margin berada auto(ditengah) secara vertikal dan horizontal */
    background-color: #2d3e50; /* membuat warna background elemen menjadi abu2 tua */
    border-top-left-radius: 12px; /* membuat border melonjong sebanyak 12px */
    border-bottom-left-radius: 12px; /* membuat border melonjong sebanyak 12px */
    display: flex; /* membuat elemen memiliki display flexbox */
    flex-flow: column nowrap; /* membuat tampilan diatur seperti kolom (secara vertikal) */
    align-items: center; /* membuat item elemen berada di tengah secara cross axis */
}